VITE_SUPABASE_URL=https://feckhrgbhbgnhzppzzuu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZlY2tocmdiaGJnbmh6cHB6enV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4MDU4ODIsImV4cCI6MjEwMzM4MTg4Mn0.iuQsmkFWyjRtOMxa63O1UKDrQRtclcMu4XQfIE2H1Xo
